.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 1em;
    font-family: sans-serif;
    min-width: 450px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table  tr {
    background-color: #eb920e;
    color: #ffffff;
    text-align: middle;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

  .star-rating {
    font-size: 24px;
    direction: rtl;
  }
  .star-rating input {
    display: none;
  }
  .star-rating label {
    cursor: pointer;
    color: gray;
  }
  .star-rating input:checked ~ label,
  .star-rating input:checked ~ label ~ label {
    color: gold;
  }
  .alerta {
    padding: 0.5rem;
    text-align: center;
    color: #fff;
    width: 100%;
    display: block;
}

.alerta.error{
    background-color: #c20000;
}
.total{
  text-align: right;
  
}
